[submodule "zappyGUI"]
	path = zappyGUI
	url = git@github.com:dawpitech/zappyGUI.git
[submodule "zappyAI"]
	path = zappyAI
	url = git@github.com:dawpitech/zappyAI.git
[submodule "zappySERVER"]
	path = zappySERVER
	url = git@github.com:dawpitech/zappySERVER.git
[submodule "zappyDOC"]
	path = zappyDOC
	url = git@github.com:dawpitech/zappyDOC.git
